body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #36160C;

}
/*navigation bar*/
nav{
  width:100%;
  overflow:hidden;
  position: fixed;
  top: 0;
  background-color: #36160C;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

}
.nav_links{
  display: flex;
  justify-content: flex-end;
  top: 20px;
  align-items: center;
}
.top_left_word{
  align-self: flex-start;

}


nav a{
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 0;
}
nav h3{
  color: white;

}
nav a:hover{
  color: #9F5842;
}
/*header*/
.header{
  display: flex;
  background-image: url("images/headerpic.jpg");
  width: 100%;
  background-size: cover;
  height: 250px;
  object-fit: cover;
  justify-content: center;
  margin: 0px;
}
.header h1{
  font-size: 150px;
  font-weight: bolder;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 40px;
  color: #36160C;
}
.header p{
  font-size: 20px;
  padding: 50px;
  font-weight: bolder;
  background-color: #9F5842;
  color: #36160C;
}
.content_container_facts{
  width: 80%;
  background-color: white;
  margin: auto;
  padding: 30px;
}
img{
  height: 200px;
  width: 200px;
}
.fact1, .fact3{
  display: flex;
  padding: 20px;
}

.fact2, .fact4{
  display: flex;
  flex-direction: row-reverse;
  padding:20px;
}
.top_row_facts, .bottom_row_facts{
  text-align: center;
}
p{
  text-align: justify;
  padding: 20px;
}
